# Notebook to split Dataset into individual csv file for each user

In [8]:
import pandas as pd

In [19]:
import os

# Fix the path - go up two directories to reach project root, then into data folder
file_path = "../../data/Fame4me_11_23-10_24+-+anonym.xlsx"

#no column titles
user_data_df = pd.read_excel(file_path, header=None)

In [20]:
#swap rows 0 and 1
user_data_df.iloc[[0, 1]] = user_data_df.iloc[[1, 0]]
print(user_data_df.head())

                   0      1      2       3      4       5      6       7    \
0                Datum    bis   Wert  Status   Wert  Status   Wert  Status
1                   ID    NaN  17779     NaN   3639     NaN  74104     NaN
2  2023-11-01 00:00:00  00:15  0.566       E   0.03       W  0.162       E
3  2023-11-01 00:00:00  00:30   0.43       W  0.044       W  0.189       E
4  2023-11-01 00:00:00  00:45  0.395       W  0.044       W  0.073       E

     8       9    ...    282     283    284     285    286     287    288  \
0   Wert  Status  ...   Wert  Status   Wert  Status   Wert  Status   Wert
1  59471     NaN  ...  87782     NaN  89986     NaN  73319     NaN  87814
2  0.035       W  ...  0.094       W    NaN     NaN  0.031       E  0.184
3  0.043       W  ...  0.095       W    NaN     NaN  0.026       E  0.233
4  0.018       W  ...  0.101       W    NaN     NaN  0.027       E   0.17

      289    290     291
0  Status   Wert  Status
1     NaN  45918     NaN
2       W   0.86       W
3       W   0.77       W
4       W  0.655       W

[5 rows x 292 columns]

In [21]:
# Skip the first row (column titles) when creating the datetime column
user_data_df.loc[1:, 'datetime'] = pd.to_datetime(user_data_df.loc[1:, 0].astype(str) + ' ' + user_data_df.loc[1:, 1].astype(str), errors='coerce')

#drop datum and bis
user_data_df = user_data_df.drop(columns=[0, 1])
print(user_data_df.head())

/var/folders/p9/70zj6cs52fs9xb652cxfzgnm0000gn/T/ipykernel_48009/1134964990.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  user_data_df.loc[1:, 'datetime'] = pd.to_datetime(user_data_df.loc[1:, 0].astype(str) + ' ' + user_data_df.loc[1:, 1].astype(str), errors='coerce')

       2       3      4       5      6       7      8       9     10      11  \
0   Wert  Status   Wert  Status   Wert  Status   Wert  Status   Wert  Status
1  17779     NaN   3639     NaN  74104     NaN  59471     NaN  14638     NaN
2  0.566       E   0.03       W  0.162       E  0.035       W  0.471       W
3   0.43       W  0.044       W  0.189       E  0.043       W  0.298       W
4  0.395       W  0.044       W  0.073       E  0.018       W  0.403       W

   ...     283    284     285    286     287    288     289    290     291  \
0  ...  Status   Wert  Status   Wert  Status   Wert  Status   Wert  Status
1  ...     NaN  89986     NaN  73319     NaN  87814     NaN  45918     NaN
2  ...       W    NaN     NaN  0.031       E  0.184       W   0.86       W
3  ...       W    NaN     NaN  0.026       E  0.233       W   0.77       W
4  ...       W    NaN     NaN  0.027       E   0.17       W  0.655       W

             datetime
0                 NaT
1                 NaT
2 2023-11-01 00:15:00
3 2023-11-01 00:30:00
4 2023-11-01 00:45:00

[5 rows x 291 columns]

In [28]:
#create single user df containing datetime, column 0 and 1
single_user_data = user_data_df.iloc[:, [290, 0, 1]]
print(single_user_data.head())

user_name = single_user_data.iloc[1, 1]

print(f"User name: {user_name}")

             datetime      2       3
0                 NaT   Wert  Status
1                 NaT  17779     NaN
2 2023-11-01 00:15:00  0.566       E
3 2023-11-01 00:30:00   0.43       W
4 2023-11-01 00:45:00  0.395       W
User name: 17779

In [29]:
#drop rows 0 and 1 from single_user_data
single_user_data = single_user_data.drop([0, 1])

#rename columns
single_user_data.columns = ['datetime', 'value', 'status']

print(single_user_data.head())

             datetime  value status
2 2023-11-01 00:15:00  0.566      E
3 2023-11-01 00:30:00   0.43      W
4 2023-11-01 00:45:00  0.395      W
5 2023-11-01 01:00:00    0.4      W
6 2023-11-01 01:15:00  0.412      W

In [31]:
# Save the single user data to a new file
single_user_data.to_csv(f"../../data/user_data/user_data_{user_name}.csv", index=False)

In [ ]:
# repeat the last steps for every individual user
i = 0
while i < 290:
    single_user_data = user_data_df.iloc[:, [290, i, i + 1]]
    user_name = single_user_data.iloc[1, 1]
    #drop rows 0 and 1 from single_user_data
    single_user_data = single_user_data.drop([0, 1])
    #rename columns
    single_user_data.columns = ['datetime', 'value', 'status']
    print(f"User name: {user_name}")
    # Save the single user data to a new file
    single_user_data.to_csv(f"../../data/user_data/user_data_{user_name}.csv", index=False)
    i += 2

User name: 17779
User name: 3639
User name: 74104
User name: 59471
User name: 14638
User name: 95876
User name: 58741
User name: 7362
User name: 10625
User name: 12851
User name: 17769
User name: 81516
User name: 93371
User name: 528
User name: 67991
User name: 55265
User name: 4692
User name: 63368
User name: 34255
User name: 35729
User name: 91524
User name: 98756
User name: 47389
User name: 53270
User name: 79816
User name: 27665
User name: 32225
User name: 10272
User name: 34775
User name: 79728
User name: 58973
User name: 65402
User name: 62262
User name: 54614
User name: 9774
User name: 10265
User name: 93113
User name: 56432
User name: 95
User name: 76739
User name: 96751
User name: 58423
User name: 63506
User name: 51834
User name: 16681
User name: 1594
User name: 46768
User name: 94233
User name: 14470
User name: 56963
User name: 33903
User name: 38338
User name: 94773
User name: 24573
User name: 48248
User name: 62464
User name: 25997
User name: 26082
User name: 26297
User name: 12401
User name: 13530
User name: 9083
User name: 30922
User name: 79813
User name: 68554
User name: 66552
User name: 67423
User name: 55566
User name: 57393
User name: 6442
User name: 73025
User name: 32573
User name: 74093
User name: 92890
User name: 46746
User name: 80086
User name: 12325
User name: 75385
User name: 37728
User name: 24276
User name: 60211
User name: 26801
User name: 85730
User name: 98222
User name: 38789
User name: 19641
User name: 23852
User name: 79187
User name: 76961
User name: 41602
User name: 498
User name: 11220
User name: 54328
User name: 75107
User name: 17186
User name: 66108
User name: 8358
User name: 98957
User name: 72915
User name: 6751
User name: 59832
User name: 53459
User name: 13332
User name: 74150
User name: 37581
User name: 68738
User name: 32896
User name: 47755
User name: 52645
User name: 9351
User name: 31475
User name: 40336
User name: 85747
User name: 68413
User name: 33218
User name: 14781
User name: 26856
User name: 2426
User name: 76284
User name: 55036
User name: 92038
User name: 31324
User name: 65899
User name: 72747
User name: 92821
User name: 34090
User name: 86718
User name: 16948
User name: 74613
User name: 93973
User name: 83479
User name: 35467
User name: 81967
User name: 46960
User name: 37355
User name: 31089
User name: 24099
User name: 84992
User name: 63328
User name: 76661
User name: 87782
User name: 89986
User name: 73319
User name: 87814
User name: 45918